/* ======================================
            Google Fonts
========================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ======================================
            Common and Setup style
========================================*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}
.ml{
    margin-left: 10px;
    border-left: 1px solid #d8d8d8;
    padding-left: 10px;
}
/* ======================================
            Utilities
========================================*/
.btn,
.btn-highlight{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 27px;
    display: inline-block;
    position: relative;

    transition: color 0.3s ease-in;
}
.btn::before{
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;

    transition: width 0.3s ease-in;
}
.btn:hover{
    z-index: 3;
    color: #E02C6D;
}
.btn:hover::before{
    width: 100%;
}

.btn-highlight::before{
    content: '';
    position: absolute;
    background-color: #2D25A0;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;

    transition: width 0.3s ease-in;
}
.btn-highlight:hover{
    z-index: 3;
}
.btn-highlight:hover::before{
    width: 100%;
}
.see-more-btn{
    text-decoration: none;
    color: #2D25A0;
    font-style: 17px;
    font-weight: 400px;
    border-bottom: 1px solid #2D25A0;
    margin-top: 10px;
    display: inline-block;
    padding: 2px 3px;
    margin-bottom: 2px;
}
.see-more-btn:hover{
    background-color: #E02C6D;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.section-title{
    font-style: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px
}
/* ======================================
            Hero section style
========================================*/

.hero{
    background: #2D25A0;
    /* width: 1440px; */
    height: 677px;

    display: flex;
    align-items: center;
    padding: 0px 140px 0px 156px;
}
.hero-title{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 80px;
}
.hero-thumbnail img{
    width: 556.01px;
    height: 438px;
}


/* media query */

@media only screen and (max-width:425px){
    body{
        width: 100%;
    }
    .hero{
        flex-direction: column;
        align-items: center;
        padding: 112px 15px 61px 15px;
    }
    .hero-title{
        font-size: 36px;
        line-height: 50px;
    }
    .hero-thumbnail img{
        width: 330px;
        height: 260px;
        margin-top: 50px;
    }
}

/* ======================================
        Best players section style
========================================*/
#best-player-section{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.best-players{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-template-rows: repeat(4,474px);
    grid-gap: 27px 30px;
}
.best-player{
    padding: 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.best-player-thumbnail img{
    width: 300px;
    height: 256px;
}
.best-player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 16px;
    color: #18191F;
}
.best-player-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
}
@media only screen and (max-width:425px){
    .best-players{
        display: grid;
        grid-template-columns: repeat(1,330px);
        grid-gap: 24px 15px;
    }
    .best-player-thumbnail img{
        width: 300px;
        height: 256px;
    }
}
/* ======================================
        Football Heighlight
========================================*/
#football-highlight-section{
    padding: 165px 156px 0 156px;
}
.football-highlights{
    display: flex;
    align-items: center;
    justify-content: center;
}
.football-highlight-info{
    margin-right: 33px;
}
.football-highlight-title,
.football-news-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}
.football-highlight-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: 8px;
}
.football-highlight-thumbnail{
    margin-left: 33px;
}
.football-highlight-thumbnail img{
    width: 567px;
    height: 427px;
}
@media only screen and (max-width:425px){
    #football-highlight-section{
        padding: 60px 15px 0 15px;
    }
    .football-highlights{
        flex-direction: column;
    }
    .football-highlight-title,
    .football-news-title{
        font-size: 30px;
        line-height: 40px;
    }
    .football-highlight-thumbnail{
        margin-left: 0px;
        margin-top: 29px;
    }
    .football-highlight-thumbnail img{
        width: 328px;
        height: 248px;
    }
}
/* ======================================
        Football News
========================================*/
#football-news-section{
    width: 100%;
    padding: 165px 156px 0 156px;
}
.football-news{
    display: flex;
    justify-content: stretch;
}
.football-news-left-box,
.football-news-right-box{
    width: 50%;
}
.football-news-left-box{
    margin-right: 10px;
}
.football-news-right-box{
    margin-left: 10px;
}
.footbal-news-article{
    padding: 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.news-thumbnail img{
    transition: transform 0.3s ease-in;
}
.footbal-news-article:hover .news-thumbnail img{
    transform:scale(1.3);
}
.news-thumbnail{
    overflow: hidden;
    width: 100%;
}
.football-news-right-box .news-thumbnail{
    height: 192px;
}
.football-news-left-box .news-thumbnail{
    height: 310px;
}
.football-news-cat{
    font-size: 15px;
    font-style: italic;
    color: #E02C6D;
    font-weight: 500;
}
.football-news-sm-title{
    font-size: 20px;
    font-weight: 600;
    color:#0A0826;
}
.football-news-desc{
    font-style: 14px;
    font-weight: 400;
    color: #6C6C6C;
}
.football-news-left-box .footbal-news-article .news-thumbnail img{
    width: 100%;
    max-height: 425px;
    min-height: 310px;
}

.football-news-right-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px 20px;
}
.football-news-right-box .footbal-news-article .news-thumbnail img{
    width: 100%;
    max-height: 256px;
    min-height: 192px;
}

/* media query */
@media only screen and (max-width:425px){
    #football-news-section{
        padding: 0px 15px 0 15px;
    }
    .football-news{
        flex-direction: column;
    }
    .football-news-left-box,
    .football-news-right-box{
        width: 100%;
    }
    .football-news-left-box{
        margin: 0px;
    }
    .football-news-right-box{
        margin: 0;
        margin-top: 20px;
    }
    .football-news-right-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px 20px;
    }
}
/* ======================================
        World best top player
========================================*/
#top-player-world-section{
    width: 100%;
    padding: 80px 156px 0 156px;
}
.top-player-wrapper{
    display: flex;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    margin-top: 100px;
}
.top-player-thumbnail{
    width: 30%;
}
.top-player-thumbnail img{
    width: 70%;
    margin-top: -70px;
    margin-left: 15%;
}
.top-player-details{
    width: 70%;
    padding: 20px;
}
.club-details{
    display: flex;
    align-items: center;
}
.club-name{
    margin-left: 10px;
}
.club-thumbnail img{
    width: 32px;
    height: 32px;
}

.top-player-records{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px 20px;
}
.record-number-details {
    display: flex;
}
.big-letter{
    background: linear-gradient(#E02C6D,#0A0826);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
}
.top-player-record{
    box-shadow: 0 0.2rem 0.6rem 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    padding: 15px;
}
.top-player-record .fa-random{
    color: #d8d8d8;
    font-size: 14px;
    padding: 4px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
}
.random-icon-text{
    font-weight: 600;
    color: #222;
    display: inline-block;
    margin-bottom: 5px;
}
.top-player-record h5 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

/* media query */
@media only screen and (max-width:425px){
    #top-player-world-section{
        padding: 20px 15px 20px 15px;
    }
    .top-player-wrapper{
        flex-direction: column;
    }
    .top-player-records{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px 20px;
    }
    .top-player-thumbnail{
        width: 100%;
    }
    .top-player-thumbnail img{
        width: 60%;
        margin-left: 20%;
    }
    .top-player-details{
        width: 100%;
    }
    .top-player-info{
        margin: 20px 0;
    }
}
/* ======================================
        Footer section style
========================================*/
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 165px;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.footer-link{
    margin: 20px 0;
}
.footer-social-link{
    text-decoration: none;
    height: 32px;
    width: 32px;
    margin: 0 14px;
    background-color: #E7E7E8;

    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}
.footer-social-link i{
    font-size: 17px;
    color:#969BAB;
}  
.footer-copyright{
    padding-bottom: 63px;
}  
.footer-copyright span{
    color:#000;
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width:425px){
    #footer{
        padding-top: 25px;
    }
    .footer-logo img{
        width: 150px;
        height: 53px;
    }
}
